main {
  display: grid;
  place-items: center;
  height: 85.7vh;
}
.griddle{
  display: grid;
  grid-template-columns: 1fr .8fr 1fr;
  place-items: center;
}
b{
  font-size: 20px;
}
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.logo_form{
  display: none;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #BB2D3B;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: #D99027;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #D99027;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em) rotate(90deg);
}
#formAccidentes{
  height: 90%;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: .0001fr 1fr 0.6fr 0.6fr 1.6fr .2fr .2fr 0.4fr; 
  place-items: center;
  grid-template-areas: 
   "top_1 top_1"
    "top_2 top_3"
    "top_4 top_5"
    
    "mid_1 mid_2"
    "mid_1 mid_2"
    "bot_1 bot_1"
    ". ."; 
}
.mid_1 {
  grid-area: mid_1; 
  display: grid;
  gap: 12px;
}
.mid_2 {
  grid-area: mid_2; 
  display: grid;
  text-align: center;
  gap: 12px;
}

#anio_group, #cant_group{
  margin-left: 9%;
}
.senders{
  width: 213px;
}
.top_1 { grid-area: top_1; }
.top_2 { grid-area: top_2; }
.top_3 { grid-area: top_3; }
.top_4 { grid-area: top_4; }
.top_5 { grid-area: top_5; }
.bot_1 { grid-area: bot_1; }
.bot_2 { grid-area: bot_2; }
.bot_3 { grid-area: bot_3; }


#formDane {
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1.2fr 1fr 1fr 0.6fr 1.2fr;
  gap: 0px 0px; 
  grid-template-areas: 
  "top_1_d top_1_d"
    ". ."
    ". ."
    "bot_1_d bot_1_d"
    ". ."; 
}
.top_1_d { grid-area: top_1_d; }
.bot_1_d { grid-area: bot_1_d; }

#cant_group_d, #anio_group_d{
  width: 80%;
  margin-left: 20%;
}

@media (max-width: 768px) {
  .h2-drop{
    font-size: 24px;
  }
  .navbar{
    display: none;
  }
  main{
    height: 100vh;
  }
  .card{
    height: 110vh;
    
  }
  #formAccidentes {
    grid-template-columns: 1fr; /* Cambia a una columna en pantallas más pequeñas */
    grid-template-rows: .8fr .2fr 0.3fr 0.3fr 0.3fr .3fr .6fr 0.6fr 0.3fr;
    grid-template-areas: 
    "."
    "top_1"
    "top_2"
    "top_3"
    "top_4"
    "top_5"
    "mid_1"
    "mid_2"
    "bot_1"
    ".";
    height: auto;
    
  }

  #formDane{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .3fr .4fr .4fr .4fr .1fr 1fr;
    grid-template-areas: 
    "top_1_d"
    "top_2_d"
    "top_3_d"
    "top_4_d"
    "top_5_d"
    "bot_1_d";
  }
  
  #anio_group{
    margin-left:17% ;
  }
  #anio_group_d, #cant_group_d {
    width: 55%; /* Puedes ajustar este valor según sea necesario */
  }

  .card{
    width: 100vw;
    min-width: 0;
    
  }
  .content{
    width: 100vw;
  }
  .back{
    width: 100vw;
    overflow-y:auto ;
    overflow-x: hidden;
  }
  .front{
    width: 100vw;
  }

}

